<div class="top-bar" style="margin-bottom:30px;">
	<h3 style="text-align:center;padding-bottom:10px;border-bottom: 3px double rgba(34,25,25,0.1);">
	Notifications</h3>
</div>

<div class="top-bar">
	<ul class="notifications-list-pg">


		
		<li><strong><a href="#">The Gossip</a></strong> Feed shows you the latest rumors only from circles you join Text mai lung ca sa vad ce se intampla aicea cu notificarile masii
			<p>2h ago </p></li>
		<li><strong><a href="#">The Gossip</a></strong> Feed shows you the latest rumors only from circles you joined.
		<p>4h ago </p></li>
		<li><strong><a href="#">The Gossip</a></strong> Feed shows you the latest rumors only from circles you joined.
			<p> 1 day ago</p></li>
		<li><strong><a href="#">The Gossip</a></strong> Feed shows you the latest rumors only from circles you joined.
			<p> 2 days ago</p></li>
		
	</ul>
</div>