<div style="width:292px;margin:0 auto;margin-top:175px;">
	<a href="/users/auth/facebook" class="btn_oauth facebook" style="background-image: url( /assets/fb-ico.png)">Sign up with Facebook</a>
</div>