<div class="content-inner" style="margin:25px 24px 22px 23px;background:#f5f5f5">
	<div align=center>
		<table bgcolor="#f5f5f5" border="0" cellpadding="0" cellspacing="0" style="background-color:#f5f5f5" width:"100%">
			<tbody><tr>
					<td align="center" collspan="1" rowspan="1" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" style="width:516px;margin-bottom:200px;" width:"600">
							<tbody><tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" style="background-color:#000000;border-bottom:3px solid #eb0a4e" width="100%">
										  <tbody><tr>
										    <td align="right" colspan="1" rowspan="1" style="text-align:center;color:#fafafa;padding:15px 0 30px;margin:0px;" valign="bottom">
										      <span style="font-family:Helvetica, Calibri, Arial, sans-serif;"><br>
										        <div style="margin-bottom:10px;">
										          <span style="font-size:24pt;">The Gossip</span>
										        </div>
										        <div>
										          <span style="font-family:Georgia, Palatino;font-size:12pt;color:#898989;"><em>Welcome to The Tossip</em></span>
										        </div>
										      </span>
										    </td>
										  </tr></tbody>
										</table> 
										<table border="0" cellpadding="0" style="background-color:#ffffff;font-family:Helvetica;font-size:13px;display:table;" cellspacing="0" width="100%">
											<tbody><tr>
												<td align="right" colspan="1" rowspan="1" style="font-size:15px;text-align:left;color:#666;padding:30px 40px 40px;margin:0px;" valign="top">
													<span style="font-family:Helvetica, Calibri, Arial, sans-serif;">
														<h4>Hi,</h4>
														<p>Thank you for subscribing to The Gossip!</p>
														<p>You will receive an invitation email as soon as possible</p>
														<p>Check out our <%= link_to "Facebook page", "#" %> or Follow us on <%= link_to "Twitter", "http://twitter.com/letsgossipit" %></p>
														<p>Smile and Happy gossiping >:)</p>
														<p>Cheers,<br> The Gossip team</p>
														<br>
												        <div style="border-bottom:1px dotted #777;padding-bottom:6px">
												          <span style="font-family:Georgia, Palatino;font-size:10pt;color:#898989;"><em>Follow us on <a href="#" style="text-decoration:none;color:#eb0a4e"> Facebook</a> and <a href="#" style="text-decoration:none;color:#eb0a4e">Twitter</a></em></span>
												        </div>
												        		<li style="padding:15px 0;font-size:12px;float:left;margin-right:15px;">&copy; 2012 The Gossip</li>
												     </span>
												</td>

											</tr></tbody>
										</table>
									</td>
								</tr></tbody>
						</table>
					</td>
				</tr></tbody>
		</table>
	</div>
</div>