<div class="top-bar clearfix">
	<div class="right-menu">
		<a href="#" class="btn btn-green">Follow</a>
	</div>
	<a class="profile-image" style="display: block;
									float: left;
									margin-right: 20px;">
			<img alt="Small_vapjpmb0a3bscmazj0du" src="https://s3.amazonaws.com/assets.spinlister.com/user/4174/small_vAPjpMb0a3BsCMAZj0dU.jpg" width="150">						
	</a>
	<h2>Hi, Cristian Rosu</h2>
	<div class="cleafix">
		<ul class="stats">
			<li class="stat">
			<div class="value">3</div>
			<div class="descriptor">Gossips</div>
			</li>
			<li class="stat">
			<div class="value">5</div>
			<div class="descriptor">Circles</div>
			</li>
			<li class="stat">
			<div class="value">14</div>
			<div class="descriptor">Following</div>
			</li>
			<li class="stat">
			<div class="value">2</div>
			<div class="descriptor">Followers</div>
			</li>
		
		</ul>
	</div>
</div>

<div class="bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href=""><i class="icon-chevron-right"></i> Edit Profile </a></li>
          <li><a href="/users/edit"><i class="icon-chevron-right"></i> Change Password </a></li>
          <li><a href="#tables"><i class="icon-chevron-right"></i> Invite People </a></li>
          <li><a href="#forms"><i class="icon-chevron-right"></i> Circles </a></li>
          <li><a href="/users/logout"><i class="icon-chevron-right"></i> Logout </a></li>
        </ul>
        
</div>

<div class="user-content"></div>

