

<div class="top-bar clearfix" style="padding:50px 80px; background:white">
	<center><h2>Facebook People</h2></center>
	<p class="intro">Gossip is much more fun when have your friends around.</p>

	<div style="float:left;width:340px; margin-right:40px;">
		<h3> Invite Friends </h3>
		<ul id="invite_list" class="InvitesList">
			<li class="friend">
	        	<a class="btnx btnx-blue">Invite</a>
	  			<img data-bind="profilePicture" class="InvitesProfileImage" src="" alt="">
	    		<div class="individual">
	        	<div data-bind="name"></div>
			    </div>
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		var friendData = <%= @friend_data.to_json.html_safe %>;
		Transparency.matcher = function(element, key) {
		  return element.getAttribute('data-bind') == key;
		};

		var directives = {
		  profilePicture: {
		    src: function(params) {
		      return this.picture.data.url;
		    },
		    alt: function() {
		    	return this.name;
		    }
		  }
		};
		$('#invite_list').render(friendData, directives);

	</script>

	<div style="float:left;width:340px; margin-right:0px;">
	<h3> Friends on The Gossip </h3>
	<ul class="InvitesList">
	        <li class="friend">
	        	<a class="btnx btnx-blue" >Follow</a>
	  			<img class="InvitesProfileImage" src="https://graph.facebook.com/100001260751431/picture?type=square" alt="Profile picture of &lt;%= name %&gt;">
	    		<div class="individual">
	        		<div class="name">Bicu Adelina</div>
			    </div>
			</li>
			<li class="friend">
	        	<a class="btnx btnx-blue">Follow</a>
	  			<img class="InvitesProfileImage" src="https://graph.facebook.com/100001260751431/picture?type=square" alt="Profile picture of &lt;%= name %&gt;">
	    		<div class="individual">
	        		<div class="name">Sucala Paul</div>
			    </div>
			</li>
		</ul>
</div>