<script type="text/javascript">
  currentUserId = <%= @user.id %>;
</script>

<%= render partial: "user_header", locals: { user: @user }, formats: [:html] %>
<p style="margin-top:30px;text-align:center"><a href= "/invites" class="btnx btnx-green"> Invite People to The Gossip </a> </p>