<script type="text/javascript">
  currentUserId = <%= @user.id %>;
</script>

<%= render partial: "user_header", locals: { user: @user }, formats: [:html] %>

<div class="bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href=""><i class="icon-chevron-right"></i> Edit Profile </a></li>
          <li><a href="/users/edit"><i class="icon-chevron-right"></i> Change Password </a></li>
          <li><a href="#tables"><i class="icon-chevron-right"></i> Invite People </a></li>
          <li><a href="#forms"><i class="icon-chevron-right"></i> Circles </a></li>
          <li><a href="/users/logout"><i class="icon-chevron-right"></i> Logout </a></li>
        </ul>
        
</div>

<div class="user-content"></div>