<li class="comment clearfix">
	<span class="avatar-mini"> 
	<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/260896_708576256_1093295786_t.jpg"/> 
	</span>
	<div style="float:left;width:398px">
		 <strong> Rosu Cristian </strong>
		  <p class="pull-right" style="color:#777;margin-bottom:0;font-size:12px"> 12m ago</p> 
		  <p style="font-size:14px;line-height:1.3">Cel mai comentariu toateania entariu toateania entariu toata atentia entariu toateania entariu toateania</p>

	</div>
</li>