<div class="top-bar" style="margin-bottom:30px;">
	<h3 style="text-align:center;padding-bottom:10px;border-bottom: 3px double rgba(34,25,25,0.1);">
	Latest Gossip</h3>
</div>

<% if @gossips.length == 0 %>
	<div class="top-bar">
		<h3 style="text-align:center">There are no posts to show right now.</h3>
		<p class="intro">The Gossip Feed shows you the latest rumors only from circles you joined.</p>
		<p class="intro">Join circles<a href="/circles"> nearby</a>, search by<a href="/circles#city"> city</a>, or view the hottest <a href="/circles#hot">topics.</a></p>
	</div>
<% else %>
	<div id="gossips_container">
		<% @gossips.each do |gossip| %>
		    <%= render partial: "gossip", locals: { gossip: gossip, last_comments: true}, formats: [:html] %>
		<% end %>
	</div>
<% end %>

<%= will_paginate @gossips%>

<script>
	var paginationInit = function(){
	  if ($('.pagination').length) {
	    $('.pagination').hide();
	    $(window).scroll(function() {
	      var url;
	      url = $('.pagination .next_page').attr('href');
	      if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 200) {
	        $('.pagination').text("Fetching more products...");
	        $.getScript(url, function(data, textStatus, jqxhr) {
	          // $("ul li:nth-child(3n+1)").css("margin-left", "0px");
	        }).fail(function(jqxhr, settings, exception) {
	          console.log("ajax fail: get events");
	        });
	      }
	    });
	  }
	}

	$(document).ready(function() {
    			paginationInit();
   	});
</script>

