<body class="m-se l-en page-homepage  reboot" style="zoom:1">
  <div id="fb-root"></div>
  <div class="wrapx">


<header id="js-header-main" class="header-main">
 <!--      <a class="logo" href="/se/">
  <img src="" alt="TheGossip">
</a> -->
    <div class="container-fluid" style="margin:0 auto;max-width:880px; padding:5px 10px">
    <a class="logo" href="/"><h3 style="color:white"> The gossip</h3></a>
    <a class="pull-right btnx btnx-green" href="/users/login" style="margin-top:1em;"> Login </a>
    <!-- <a class="pull-right" href="/users/login" style="margin-right:24px;line-height:32px;margin-top:1em"> Login </a> -->
    </div>
  </header>

<div class="dummy-firstload"></div>
<div class="content-main" style="visibility: hidden;">

<section id="section-soundtrack" class="soundtrack section-auto-size intro-dusk" data-auto-size="1">
  <div class="container">
    <div class="box">
      <div class="single-column">
          <h2 class="visible-phone">Welcome to The Gossip</h2>
          <h1 class="hidden-phone">Welcome to The Gossip</h1>
          
          <p class="lead" >The voice of the city. Rumors and news around you. </p>

          <p class="hidden-phone lead">The Gossip is invitation based only. Make a request and we'll send you an invite. </p>
          <form style="display:inline-block;margin-top:10px">
            <input class="pull-left" style="margin-right:10px" type="email" placeholder="Enter your email">
            <a class="pull-left btnx btnx-green" style="line-height:28px" href="#" > Request an invite</a>
          </form>
            <a href="#features" class="section-arrow section-arrow-big js-ga-event"
          data-ga-event-category="moreinfo"
          data-ga-event-action="arrow1_home"
          data-ga-event-label="mega"
          data-target="section-listen-everywhere"></a>
      </div>
    </div>
  </div>
</section>

<a id="features" class="in-page-anchor" name="features"></a>
<section id="section-listen-everywhere" class="section-auto-size has-arrow-button-below listen-everywhere"
         data-auto-size="0.6">
  <div class="container">
    <div class="box">
      <div class="single-column">
       
        <h1 style="color:#eb0a4e">Voice of the City</h1>

        <p class="lead">
            People love gossip. It's the biggest thing that keeps the entertainment industry going.
         <div class="row">
          <div class="span3 offset3">
            <p class="lead" style="color:#eb0a4e">Hey Gossipers </p>
            <p style="line-height:1.4;font-size:18px;font-weight:200">Things will never be left unsaid anymore. Keep up with everything that's going around in your city. </p>
          </div>
          <div class="span3">
            <p class="lead" style="color:#eb0a4e"> They want to hear the gossip </p>
            <p style="line-height:1.4;font-size:18px;font-weight:200"> Spread the word and keep your friends in the loop. Share your favourites and invite others to join.</p>
          </div>
         </div>
        </p>

      </div>
    </div>
  </div>
</section>
<div class="section-arrow-holder">
  <a href="#search-discover"
  class="section-arrow js-ga-event"
  data-ga-event-category="moreinfo"
  data-ga-event-action="arrow2_listen"
  data-ga-event-label="mega"
  data-target="section-search-discover"></a>
</div>

<div class="scroller-main"
    
     data-image = "/assets/landing_page/gossip2.jpg"
     data-image-mobile="/assets/landing_page/gossip2-small.jpg"
     data-width="1600"
     data-height="1061"></div>

<section id="section-listen-everywhere" class="section-auto-size has-arrow-button-below listen-everywhere"
         data-auto-size="0.6">
  <div class="container">
    <div class="box">
      <div class="single-column">
       
        <h1 style="color:#eb0a4e">Join circles</h1>

        <p class="lead">
            Gossip is everywhere.<br> Join your friends in circles you're interested in and find news &amp; rumors while they are hot.
        </p>
        <p class="lead">
          Create circles, invite your friends to join and watch them grow :)
        </p>

      </div>
    </div>
  </div>
</section>
<div class="section-arrow-holder">
  <a href="#playlists"
  class="section-arrow js-ga-event"
  data-ga-event-category="moreinfo"
  data-ga-event-action="arrow3_search"
  data-ga-event-label="mega"
  data-target="section-playlists"></a>
</div>


<div class="scroller-main"
     data-image="/assets/landing_page/gossip3.jpg"
     data-image-mobile="/assets/landing_page/gossip3-small.jpg"
     data-width="1600"
     data-height="936"></div>

<section id="section-listen-everywhere" class="section-auto-size has-arrow-button-below listen-everywhere"
         data-auto-size="0.6">
  <div class="container">
    <div class="box">
      <div class="single-column">
        <h1 style="color:#eb0a4e">Follow the hottest topics</h1>

        <p class="lead">
            Join the hottest circles and follow people you're interested in.
        </p>
        <p class="lead">
             Search by City or just Explore the current trending topics.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="section-arrow-holder">
  <a href="#radio"
  class="section-arrow js-ga-event"
  data-ga-event-category="moreinfo"
  data-ga-event-action="arrow5_follow"
  data-ga-event-label="mega"
  data-target="section-radio"></a>
</div>

<div class="scroller-main"
     data-image="http://cf.scdn.co/i/home/intro-glasses.jpg"
     data-image-mobile="http://cf.scdn.co/i/home/intro-glasses-small.jpg"
     data-width="1600"
     data-height="866"></div>

<section id="section-listen-everywhere" class="section-auto-size has-arrow-button-below listen-everywhere"
         data-auto-size="0.6">
  <div class="container">
    <div class="box">
      <div class="single-column">
        <h1 style="color:#eb0a4e">About The Gossip</h1>

        <p class="lead">
            The Gossip is an app that lets you share and explore rumors and news around you. 
            <br/>It's anonymous and secret if you want to keep your privacy, but it's not intended to attack, insult or mislead other people.
        </p>
      </div>
    </div>
  </div>
</section>

</div>

</div> <!--/wrapx-->
<footer id= "footer-main" class="footer-main group">
  <div class="container">
    <nav class="nav-footer">
      <ul>
        <li class="nav-item">
          <a href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/terms">Terms</a>
        </li>
        <li class="nav-item">
          <a href="#" rel="publisher">Social</a>
        </li>
      </ul>
    </nav>
    <div class="box">

      <small class="copyright">
        &copy; The Gossip 2013
      </small>
    </div>
  </div>
</footer>

</body>
