<body class="page-homepage  reboot">
	<div class="scroller-holder" style="-webkit-transform: translate3d(0px, 3615px, 0px); width: 1277px; height: 280px; visibility: hidden;"><img src="http://cf.scdn.co/i/backgrounds/background-glasses.jpg" class="scroller-tile" style="-webkit-transform: translate3d(0px, -167px, 0px); width: 1277px; height: 691px; visibility: hidden;"></div><div class="scroller-holder" style="-webkit-transform: translate3d(0px, 2780px, 0px); width: 1277px; height: 280px; visibility: hidden;"><img src="http://cf.scdn.co/i/backgrounds/background-guitar.jpg" class="scroller-tile" style="-webkit-transform: translate3d(0px, -248px, 0px); width: 1277px; height: 851px; visibility: hidden;"></div><div class="scroller-holder" style="-webkit-transform: translate3d(0px, 2139px, 0px); width: 1277px; height: 280px; visibility: hidden;"><img src="http://cf.scdn.co/i/backgrounds/background-bike.jpg" class="scroller-tile" style="-webkit-transform: translate3d(0px, -195px, 0px); width: 1277px; height: 747px; visibility: hidden;"></div><div class="scroller-holder" style="-webkit-transform: translate3d(0px, 1491px, 0px); width: 1277px; height: 280px; visibility: hidden;"><img src="http://cf.scdn.co/i/backgrounds/background-ipad.jpg" class="scroller-tile" style="-webkit-transform: translate3d(0px, -245px, 0px); width: 1277px; height: 846px; visibility: hidden;"></div><div class="scroller-holder" style="-webkit-transform: translate3d(0px, 639px, 0px); width: 1277px; height: 408px; visibility: hidden;"><img src="http://cf.scdn.co/i/backgrounds/background-fence.jpg" class="scroller-tile" style="-webkit-transform: translate3d(0px, -143px, 0px); width: 1277px; height: 668px; visibility: hidden;"></div>
  <div id="fb-root"></div>

  <div class="wrapx">

    <header id="js-header-main" class="header-main">
	  <div class="container-fluid" style="margin:0 auto;max-width:880px; padding:0 10px">
		<a class="logo" href="/"><h2 style="color:white"> The gossip</h2></a>
		<a class="pull-right btnx btnx-green" href="/users/sign_up" style="margin-top:1.4em"> Sign up </a>
		<a class="pull-right" href="/users/login" style="margin-right:24px;line-height:32px;margin-top:1.4em"> Login </a>
	  </div>
	</header>

<div class="dummy-firstload" style="display: none;"></div>
<div class="content-main" style="visibility: visible;">

<section id="section-soundtrack" class="soundtrack section-auto-size intro-dusk" data-auto-size="1" style="height: 639px;">
  <div class="container">
    <div class="box">
      <div class="single-column">

	<!-- <a class="logo" href="/se/">
	  <img src="http://cf.scdn.co/i/logo.png" alt="Spotify">
	</a> -->

          <h1>Welcome to The Gossip</h1>
          <p class="lead">
            Listen on all your devices for 30 days.          </p>
          <a href="/se/freetrial/" class="button button-highlight js-ga-event" data-ga-event-category="upgrade" data-ga-event-action="get_trial" data-ga-event-label="mega">
            Start free trial          </a>
          <a href="#features" class="section-arrow section-arrow-big js-ga-event" data-ga-event-category="moreinfo" data-ga-event-action="arrow1_home" data-ga-event-label="mega" data-target="section-listen-everywhere"></a>
      </div>
    </div>
  </div>
</section>

<div class="artwork-strip" style="-webkit-transform: translate3d(0px, 447px, 0px); width: 1277px;"><div class="artwork-strip-tile" style="-webkit-transform: translate3d(0px, 64px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/5Nn2Dj7OQsGL6pgQ9iIzPp.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(0px, 192px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/319bsne6NzMY9Xpsmw5mVI.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(128px, 128px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/192/3l4Bi7uo88xgoaPdgWjJx2.jpg); width: 192px; height: 192px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(64px, 0px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/4VySpxhRGy32u5zPCprzDn.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(64px, 192px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/5GZEeowhvSieFDiR8fQ2im.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(128px, 0px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/6n5EIELF8EYzBZhhFzpG5Y.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(256px, 64px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/3RLC8jJmDOZwrJ5izaISXr.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(320px, 128px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/2WMRd3xAb9FwXopCRNWDq1.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(320px, 256px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/10Hb1MlXsnI7Yi936C97NA.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(384px, 256px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/1DUhAeBCT4r66Gu4P3nirG.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(448px, 128px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/1vVj6ZxltoyIA22x7eAnAC.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(448px, 192px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/2FR2Ffy0bTjny9FwanFCJx.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(512px, 128px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/1aJrVsHwcQMZ8TZ6mlvT5J.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(512px, 256px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/7fXyuQqEBwpKtCa8PomO7B.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(640px, 128px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/192/3dOAXUx7I1qnzWzxdnsyB8.jpg); width: 192px; height: 192px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(704px, 64px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/3APayTEWiUl9Ssep4BOXR2.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(768px, 64px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/3pD0f7hSJg2XdQ6udw5Tey.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(832px, 64px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/2lwwrWVKdf3LR9lbbhnr6R.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(832px, 192px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/2JFmTONwQdRaOj2s2DhFah.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(896px, 320px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/64/6rUp7v3l8yC4TKxAAR5Bmx.jpg); width: 64px; height: 64px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(960px, 128px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/4BWBbJ9MKpnt30SFYEomzJ.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(960px, 256px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/0V8jGgK39sLsj2yAHHPigU.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(1088px, 64px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/2uM8EuKY4FjY8n2JcENJfM.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(1088px, 192px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/0R7YVi7w41Dr9jU5vblAok.jpg); width: 128px; height: 128px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(1216px, 64px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/192/4LloVtxNZpeh7q7xdi1DQc.jpg); width: 192px; height: 192px;"></div><div class="artwork-strip-tile" style="-webkit-transform: translate3d(1216px, 256px, 0px); background-image: url(http://d2us6zencw9qvn.cloudfront.net/website_reboot_assets/image_strip_2/128/0AmlEkErBrXAk8d7cebd7H.jpg); width: 128px; height: 128px;"></div></div>

<div class="scroller-main" data-image="http://cf.scdn.co/i/backgrounds/background-fence.jpg" data-image-mobile="http://cf.scdn.co/i/backgrounds/background-fence-small.jpg" data-width="1600" data-height="837" data-extra-height="128" data-extra-height-mobile="64" style="height: 408.5px;"></div> <!-- 128px is the bottom area covered by the toplist album artwork strip; number is somewhat arbitrary. -->

<a id="features" class="in-page-anchor" name="features"></a>
<section id="section-listen-everywhere" class="section-auto-size has-arrow-button-below listen-everywhere" data-auto-size="0.6" style="height: 410px;">
  <div class="container">


    <div class="box">
      <div class="single-column">
        <h1>Listen everywhere</h1>

        <p class="lead">
            Spotify works on your computer, your mobile, your tablet, and your home entertainment system.          <span class="desktop-only"><br>You can even download your favourite music for when you’re offline.</span>
        </p>

        <p>
          <img src="http://cf.scdn.co/i/home/listen-everywhere-device-icons.png" alt="">
        </p>
      </div>
    </div>
  </div>
</section>
<div class="section-arrow-holder">
  <a href="#search-discover" class="section-arrow js-ga-event" data-ga-event-category="moreinfo" data-ga-event-action="arrow2_listen" data-ga-event-label="mega" data-target="section-search-discover"></a>
</div>

<div class="scroller-main" data-image="http://cf.scdn.co/i/backgrounds/background-ipad.jpg" data-image-mobile="http://cf.scdn.co/i/backgrounds/background-ipad-small.jpg" data-width="1600" data-height="1061" style="height: 280.5px;"></div>

<section id="section-search-discover" class="section-auto-size has-arrow-button-below search-discover" data-auto-size="0.6" style="height: 335px;">
  <div class="container">
    <a name="search-discover"></a>

    <div class="box">
      <div class="box-innner">
          <div class="two-columns narrow-when-stacked">
            <div class="img-main-holder">
              <img src="http://cf.scdn.co/i/home/img-blank-70.gif" class="img-main img-search-discover">
            </div>
          </div>
          <div class="two-columns">
            <h1>Search &amp; discover</h1>

            <p class="lead">
              Choose the music you love, or let Spotify surprise you.              <span class="desktop-only">If you know what you want, just search and hit play. Or find new music by browsing the collections of friends, artists and celebrities.</span>
              <span class="mobile-only">Just search and hit play. Or browse the collections of friends, artists and celebrities.</span>
            </p>
          </div>
      </div>
    </div>
  </div>
</section>
<div class="section-arrow-holder">
  <a href="#playlists" class="section-arrow js-ga-event" data-ga-event-category="moreinfo" data-ga-event-action="arrow3_search" data-ga-event-label="mega" data-target="section-playlists"></a>
</div>


<div class="scroller-main" data-image="http://cf.scdn.co/i/backgrounds/background-bike.jpg" data-image-mobile="http://cf.scdn.co/i/backgrounds/background-bike-small.jpg" data-width="1600" data-height="936" style="height: 280.5px;"></div>

<section id="section-playlists" class="section-auto-size has-arrow-button-below playlists" data-auto-size="0.6" style="height: 327px;">
  <div class="container">
    <a name="playlists"></a>

    <div class="box">
      <div class="box-innner">
          <div class="two-columns">
            <h1>Build your collection</h1>

            <p class="lead">
              It’s easy to build a personal collection by creating your own playlists. Or if you find a playlist you really like, just add it to your collection.                <span class="desktop-only">Very soon, you'll have the right music for every mood and occasion.</span>
            </p>
          </div>
          <div class="two-columns">
            <ul class="playlist">
              <li id="playlistItem1">
                <a class="playlist-link" href="http://open.spotify.com/user/spotify/playlist/0p36VWCE69lwAoIG6i80Dv">
                  <i class="icon icon-75 icon-pl-1"></i>
                </a>
                  <div class="playlist-item">
                    <a href="http://open.spotify.com/user/spotify/playlist/0p36VWCE69lwAoIG6i80Dv">
                      <span class="playlist-name">Beat the commute blues</span>
                    </a>
                  </div>

              </li>
              <li id="playlistItem2">
                <a class="playlist-link" href="http://open.spotify.com/user/spotify/playlist/5srGoJjNy2FziC51u8HrP1">
                  <i class="icon icon-75 icon-pl-2"></i>
                </a>
                <div class="playlist-item">
                  <a href="http://open.spotify.com/user/spotify/playlist/5srGoJjNy2FziC51u8HrP1">
                    <span class="playlist-name">It's party time!</span>
                  </a>
                </div>
              </li>
              <li id="playlistItem3">
                <a class="playlist-link" href="http://open.spotify.com/user/spotify/playlist/25p0k2XJ2SVFFKJN6TcUvG">
                  <i class="icon icon-75 icon-pl-3"></i>
                </a>
                <div class="playlist-item">
                  <a href="http://open.spotify.com/user/spotify/playlist/25p0k2XJ2SVFFKJN6TcUvG">
                    <span class="playlist-name">Ultimate workout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>
<div class="section-arrow-holder">
  <a href="#follow-share" class="section-arrow js-ga-event" data-ga-event-category="moreinfo" data-ga-event-action="arrow4_build" data-ga-event-label="mega" data-target="section-follow-share"></a>
</div>

<div class="scroller-main" data-image="http://cf.scdn.co/i/backgrounds/background-guitar.jpg" data-image-mobile="http://cf.scdn.co/i/backgrounds/background-guitar-small.jpg" data-width="1600" data-height="1067" style="height: 280.5px;"></div>

<section id="section-follow-share" class="section-auto-size has-arrow-button-below follow-share" data-auto-size="0.6" style="height: 522px;">
  <div class="container">
    <a name="follow-share"></a>

    <div class="box">
      <div class="box-innner">
        <div class="two-columns narrow-when-stacked">
          <div class="img-main-holder">
            <img src="http://cf.scdn.co/i/home/img-blank-70.gif" class="img-main img-follow-share">
            <p><a href="http://open.spotify.com/user/brunomars/playlist/5ctjju5tPKLub2s7uvblNg">Soul and Early Rock &amp; Roll</a> <br>Bruno Mars</p>
          </div>
        </div>
        <div class="two-columns">
          <h1>Follow &amp; share</h1>

          <p class="lead">
            <span class="desktop-only">Music brings people together. That’s why Spotify is so social. Share music on Spotify, Facebook, Twitter, your blog and via email. You can follow other cool people too. When they find great new music, so do you.</span>
            <span class="mobile-only">Spotify is social. Share music on Spotify, Facebook, Twitter, your blog and email. Or follow other cool people – so when they find great new music, you do too.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-arrow-holder">
  <a href="#radio" class="section-arrow js-ga-event" data-ga-event-category="moreinfo" data-ga-event-action="arrow5_follow" data-ga-event-label="mega" data-target="section-radio"></a>
</div>

<div class="scroller-main" data-image="http://cf.scdn.co/i/backgrounds/background-glasses.jpg" data-image-mobile="http://cf.scdn.co/i/backgrounds/background-glasses-small.jpg" data-width="1600" data-height="866" style="height: 280.5px;"></div>

<section id="section-radio" class="section-auto-size has-arrow-button-below radio" data-auto-size="0.6" style="height: 412px;">
  <div class="container">
    <a name="radio"></a>

    <div class="box">
      <div class="box-innner">
        <div class="two-columns">
          <h1>Radio</h1>

          <p class="lead">
            <span class="desktop-only">Sit back and enjoy Spotify radio.</span>
            <span class="mobile-only">In the mood for something new?</span>
            Start with a song you love, and let Spotify bring you one great track after another.            <span class="desktop-only">Perfect if you don't know what to listen to, or if you're in the mood for something new.</span>
          </p>
        </div>
        <div class="two-columns narrow-when-stacked">
          <div class="img-main-holder">
            <img src="http://cf.scdn.co/i/home/img-blank-70.gif" class="img-main img-radio">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<a href="#premium" class="section-arrow js-ga-event" data-ga-event-category="moreinfo" data-ga-event-action="arrow6_radio" data-ga-event-label="mega" data-target="section-premium"></a>

<a id="premium" class="in-page-anchor" name="premium"></a>
<section id="section-premium" class="feature premium">
  <div class="premium-container">
    <div class="premium-options-holder">
      <div class="premium-option free">
        <h1>
          Free        </h1>
        <p class="premium-tag">
          Your music is free and instant.        </p>
        <p class="premium-price">Completely free</p>
      </div>


      <div class="premium-option premium">
        <a href="/se/freetrial/" class="premium-banner js-ga-event" data-ga-event-category="upgrade" data-ga-event-action="get_trial" data-ga-event-label="mega_pricing">
          <img src="http://cf.scdn.co/i/home/premium-banner.png">
        </a>
        <h1>
          Premium        </h1>
        <p class="premium-tag">
          Your music is everywhere.        </p>
        <p class="premium-price">
          99,00 kr per month        </p>

        <aside>
          <img src="http://cf.scdn.co/i/home/all-devices.png" width="227" height="49" class="device-img">
        </aside>

        <ul class="premium-details-list">
	<li>Listen on all your devices</li>
	<li>Download music &amp; listen offline</li>
	<li>No ads &amp; no commitment</li>
</ul>
        <a href="/se/freetrial/" class="button button-highlight js-ga-event" data-ga-event-category="upgrade" data-ga-event-action="get_trial" data-ga-event-label="mega_pricing">
          Try Premium        </a>
      </div>
    </div>
  </div>
</section>
</div>

<script src="http://cf.scdn.co/js/image-strip-artwork3.js" id="spweb" data-static-url="http://cf.scdn.co"></script>

</div> <!--/wrap-->

<footer id="footer-main" class="footer-main group">
  <div class="container">
    <nav class="nav-footer">
      <ul>
        <li class="nav-item">
          <a href="/se/legal/">About</a>
        </li>
        <li class="nav-item">
          <a href="/se/legal/privacy-policy/#cookies" rel="publisher">Terms</a>
        </li>
        <li class="nav-item">
          <a href="/se/legal/privacy-policy/#cookies" rel="publisher">Facebook</a>
        </li>
        <li class="nav-item">
          <a href="/se/legal/privacy-policy/#cookies" rel="publisher">Twitter</a>
        </li>
      </ul>
    </nav>

      <small class="copyright">
        © 2013 The Gossip
      </small>
 
  </div>
</footer>

<script src="http://cf.scdn.co/js/vendors.js"></script>
<!-- Optimizely code - to allow A/B tests-->
<script src="//cdn.optimizely.com/js/146312396.js"></script>
<!--[if lt IE 9]>
    <script src="http://cf.scdn.co/js/ie-support.js"></script>
<![endif]-->
<script src="http://cf.scdn.co/js/parallaxScroller.js" id="spweb" data-static-url="http://cf.scdn.co"></script>
<script src="http://cf.scdn.co/js/awe-wait-for-it-some.js" id="spweb" data-static-url="http://cf.scdn.co"></script>


<div id="html-validator-loading" style="display: none;"><img src="chrome-extension://cgndfbhngibokieehnjhbjkkhbfmhojo/images/loading.gif ">Validating...</div><div id="html-validator-message" style="display: none;"><span id="html-validation-message-close">X</span><div id="html-validator-message-content"></div></div>
</body>

