<div class="row">
	<div class="top-bar span6 offset1 clearfix">
		<h3 style="text-align:center;padding-bottom:10px;margin-bottom:30px;border-bottom: 3px double rgba(34,25,25,0.1);">Say hello :)</h3>
		<p class="intro">Share with us your Feedback, Opinions and questions.</p>
		<form>
    		<center><input style="margin-bottom:30px;width:90%" type="text" placeholder="Your email"> 
    		<textarea rows=3 style="width:90%;max-width:90%;max-height:14 0px"></textarea></center>
    	</form>
		<div style="border-bottom: 3px double rgba(34,25,25,0.1);"></div>
		<a style="margin-top:10px;"class="pull-right btnx btnx-blue">Send</a>
	</div>
</div>
