<div class="row">
	<div class="top-bar span6 offset1 clearfix">
		<h3 style="text-align:center;padding-bottom:10px;margin-bottom:30px;border-bottom: 3px double rgba(34,25,25,0.1);">Say hello :)</h3>
		<p class="intro">Share with us your Feedback, Opinions and questions.</p>
		<form>
    		<center><input style="margin-bottom:30px;width:90%" type="text" placeholder="Subject"> 
    		<input style="margin-bottom:30px;width:90%" type="text" placeholder="Your email"> 
    		<textarea rows=3 style="width:90%;max-width:90%;max-height:14 0px"></textarea></center>
    	</form>
		<div style="border-bottom: 3px double rgba(34,25,25,0.1);"></div>
		<a style="margin-top:10px;"class="pull-right btnx btnx-blue">Send</a>
	</div>

<div class="top-bar span6 offset1 clearfix" style="margin-top:5px">
		<p class="hidden-phone pull-left" style="margin:6px 30px 0 5px"> <a target="_blanck" href="mailto:hi@letsgossip.it" style="color:#eb0a4e"> hi@letsgossip.it</a> </p>
		<a href="http://facebook.com/333468333431025" target="_blank" class="btnx btnx-blue pull-left" style="line-height:16px;background-color: #3b5998;margin-right:20px"><span class="fb-ico"></span> Facebook</span></a>

       <a href="https://twitter.com/LetsGossipIt" target="_blank" class="btnx btnx-blue pull-left" style="line-height:16px;background-color: #00aced;"><span class="tw-ico"></span> Twitter</a>
   </div>
</div>
