<div id="content">

	<div class="gossip-post">
		<span class="avatar"> </span>
		
		<div class="gossip">
			<img style="position:absolute; margin-top:0px;margin-left:-30px;" src="/assets/arrow.png"/>
			<img style="width:22px;height:22px;" src="/assets/open-quote.gif"/>
			<p>" Hmm, Gossip Girl , am o barfa care nu va distruge o relatie, ci care poate va forma una. Ieri, marele heartbraker Alex Sumanariu a aparut pe blog cu acea conversatie cu Teo Tbw, in care ii dedica acea melodie a lui "Acent" (imi cer scuze, asa a scris el =)) ) "E chimie intre noi". Astazi la ora 6, la Ice-Dream Iullius Mall, acesta a aparut de mana cu micuta scorpie Ana-Maria Loga. Hmm, copii, aveti grija pe unde iesiti, lumea observa  si Gossip Girl afla . Apropo dragutule Alex, se parea ca aveai mai multa chimie cu Ana-Maria Loga decat cu Teo Tbw astazi asa ca daca se intampla ceva, nu pot sa va spun decat "sa va tina dragii mei" "</p>
			<img style="float:right;width:25px;height:25px;" src="/assets/close-quote.gif"/>

		</div>


		<div class="side">
			<div class="" style="border-bottom:1px dashed #aaa; margin-bottom:10px">
				<a class="like">Like</a>
				<p style="margin-bottom:5px;font-size:12px;"> 154 people</p>
			</div>
			<div class="" style="border-bottom:1px dashed #aaa; margin-bottom:10px">
				<a class="true"> True </a>
				<p style="margin-bottom:5px;font-size:12px;"> 164 people</p>
			</div>
			<div class="" style="margin-bottom:10px;border-bottom:1px dotted #aaa;">
				<a class="fake"> Fake </a>
				<p style="margin-bottom:5px;font-size:12px;"> 554 </p>
			</div>
		</div>

		
	</div>

	<div class="gossip-post">
		<span class="avatar">
			<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/260896_708576256_1093295786_t.jpg"/>
		 </span>

		<div class="gossip">
			<img style="width:25px;height:25px;" src="/assets/open-quote.gif"/>
			<p>Cel mai mumos gossip dintre toate, cel dintai gossip dintre toate,si mai presus de toate unicul si singurul. Si nu mai zic nimic</p>
			<img style="float:right;width:25px;height:25px;" src="/assets/close-quote.gif"/>
		</div>
		<div class="side">
			<div class="" style="border-bottom:1px dashed #aaa; margin-bottom:10px">
				<a class="like">Like</a>
				<p style="margin-bottom:5px;font-size:12px;"> 154 people</p>
			</div>
			<div class="" style="border-bottom:1px dashed #aaa; margin-bottom:10px">
				<a class="true"> True </a>
				<p style="margin-bottom:5px;font-size:12px;"> 164 people</p>
			</div>
			<div class="" style="margin-bottom:10px;border-bottom:1px dotted #aaa;">
				<a class="fake"> Fake </a>
				<p style="margin-bottom:5px;font-size:12px;"> 554 </p>
			</div>
		</div>
	</div>
</div>