<div style="background: rgba(0,0,0,0.85);height:80px;width:300px;padding:40px;color:white;margin-top:50px">
	<p style="-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;font-size:16px;text-shadow:none">Ini mini maini mo o oiois ojsdo ijsd j oijsd oisj oisdj osj osdj sodi j</p>
</div>