<div class="top-bar terms">
	<h2 style="text-align:center;padding-bottom:10px;margin-bottom:30px;border-bottom: 3px double rgba(34,25,25,0.1);">Terms and Conditions</h2>
	<h3>1. General</h3>
	<p>1.1 The current Terms refer to your access and use of The Gossip, including any mobile applications or websites and any information, text, graphics, photos, other materials or any type of related content uploaded, downloaded or shared on other social Services. By accessing or using The Gossip you accept these Terms.<br>

	1.2 We reserve the right to modify these terms at any time, with the user's obligation to periodically check these terms and to comply with the obligations in force at all times.</p>

	<p>1.3 The application allows one to share rumors, news, opinions and comments or any other information with other users of the application through a web application (website) and/or mobile devices.</p>

	<p>1.4 The application allows users to share and exchange information across different social networks, developed and managed by third parties. In order to exchange and share information, the user must explicitly accept the integration of these social networks into the application. Eventually, the user must maintain an active account with these social networks in order to use them in relation to the application. <br>

	Sometimes the application may request additional permissions in order to carry out certain actions or activate certain features. The lack of acceptance of some of the permissions necessary for the proper functioning of the application may result in suspension of services. </p>
	
	<h3>2. Basic Terms of using the application</h3>

	<p>2.1 You are responsible for your use of the application, for any Content you post to the Services, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by other users of the Services and through third party services and websites. The content you provide must not be intended to attack, judge or mislead othere people, nor should it be harmful to a person's image </p>

	<p>2.2 Accessing and use of the application is aimed at people over sixteen (16) years old. In case the user's country legislation is setting a minimum age lower than this (16), you must meet these age requirements, otherwise refrain from accessing or using the application.</p>
	
	<p>2.3 If you are under sixteen (16), accessing and use of the application must be done with the authorization and supervision of your parents or legal guardians.</p>

	<p>2.4 Accessing and using the application is free and any industrial and commercial use is forbidden, as well as resale, distribution or marketing of any form without the express prior authorization from the authors.</p>
	
	<p>2.5 All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may, but are not required to monitor or control the Content posted via the Services and we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the current application or obtained by you through the other Services is at your own risk. </p>
	
	<p>2.6 We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the current application or endorse any opinions expressed and shared via the Services. <br>
		You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will The Gossip be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the application or broadcast elsewhere.</p>
	<p>2.7 You are responsible for your use of the application, for any information and Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party  social integrations. You understand that your Content may be shared, broadcast, distributed, or published by our partners and if you do not have the right to submit Content for such use, it may subject you to liability. The Gossip will not be responsible for any use of your Content, in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary for any Content that you submit.</p>

	<h3>Restrictions on Content and Use of the application</h3>
	<p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services and to suspend terminate users or reclaim usernames without liability to you. You may not post Content that:</p>
		<p> - Impersonates another person or entity in a manner that does or is intended to mislead, confuse, or deceive others;</p>
		<p>- Is a direct and specific threat of violence to others;</p>
		<p>- Is offensive, or involving serious threats or insults;</p>
		<p>- Information offending against children or against property specially protected by (international) law;
		<p>- Is furtherance of illegal activities;</p>
		<p>- Contains information on health data, sexual orientation, union membership or any other personal data that is necessary may affect the person in case;</p>
		<p>- Is contrary to public policy;</p>
		<p>- Is harassing, abusive, or constitutes spam;</p>
		<p>- Any other harmful content that incites or leads to violence or discrimination of any form.</p>

	<h3>3. Passwords & Usernames</h3>
	You are responsible for safeguarding the password or anonymous credentials that you use to access the application and for any activities or actions under your account. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols). We are not and will not be responsible for any loss or damage arising from your failure to comply with the above requirements.

	<h3>4. Copyright</h3>
	<p>We respect the intellectual property rights of others and we expect users of the The Gossip to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information: (i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an email address; (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>
	<p>We reserve the right to remove Content alleged to be infringing without prior notice and at our sole discretion. In appropriate circumstances, we will also terminate a user's account if the user is determined to be a repeat infringer(this also applies in case of using the application harming other people, as stated above).</p>



</div>