
development:
  adapter: postgresql
  encoding: unicode
  database: publicsecret
  pool: 5
  username: 
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: publicsecret
  pool: 5
  username: 
  password:
