/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.post-wrapper {

	width:580px; 
	margin:0 auto;
	margin-top:30px;

	padding-right: 20px;
}

.post-well {
	padding:12px;
	margin-top:15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	border:1px solid rgba(40,40,40,0.5); 
	//border-bottom:1px solid rgba(200,200,200,0.4); 
	background: rgba(30, 25, 25, 0.2);
}

 .post-gossip {
 	height:260px;
	background: url("/assets/pattern-dark.png") repeat;
 	
 	/*margin-top:-20px;*/
 	-webkit-box-shadow: inset 0px 1px 12px 1px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 1px 12px 1px rgba(0, 0, 0, 0.7);
	margin-bottom:30px;
	margin-bottom:1px solid white; margin-top:1px solid white;
}
/* asta nush daca trebe, ca nu arata ok icoana*/
.icon-new-gossip{
	background-image:url('/assets/new-gossip.png');
	height:18px;width:22px;
	margin:0; padding:0;
}

.back-to-top {
	width: 66px;
	height: 66px;
	display: block;
	position: fixed;
	right: 25px;
	bottom: 55px;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	background: url("/assets/back-to-top.png") no-repeat;
	z-index: 100;
}
