/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .dashboard {
    float:left;
    width:240px;
    height:500px;
    display:block;
    margin-top:30px;
 }

 .dashboard .footer-nav {
  float:left;
  list-style: none;
  margin-left:10px;
 }
 .footer-nav li:first-child {
    padding-left: 0;
}
.footer-nav li {
  float: left;
  padding: 0 0 0 18px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
}
 .footer-nav li a { color: #1F5182; }
  .footer-nav li a:hover { text-decoration: underline; }

/* POST A GOSSIP */
.post-wrapper {

	width:580px; 
	margin:0 auto;
	margin-top:30px;
	position:relative;
	padding-right: 20px;
}

.post-well {
	padding:12px;
	margin-top:15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	border:1px solid rgba(40,40,40,0.5); 
	background: rgba(30, 25, 25, 0.2);
}

 .post-gossip {
 	height:260px;
	background: url("/assets/pattern-dark.png") repeat;

 	-webkit-box-shadow: inset 0px 1px 12px 1px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 1px 12px 1px rgba(0, 0, 0, 0.7);
	//margin-bottom:30px;
	margin-bottom:1px solid white; margin-top:1px solid white;
}

/* POST GOSSIP END */

.back-to-top {
	width: 66px;
	height: 66px;
	display: block;
	position: fixed;
	right: 25px;
	bottom: 55px;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	background: url("/assets/back-to-top.png") no-repeat;
	z-index: 100;
}

/* Side-menu */

#side-menu {
	background:#00a0c6;
	width:240px;
	z-index:0;
	position:fixed;
	top:41px;
	bottom:0;
	left:0px; 
	border-right:1px solid #dcd3d9;
}


.hover-xx{
	color:white;
	cursor: pointer;
	cursor: hand;
}

a.x-hover {color:#fff;}
a.x-hover:hover {color:#00a0c6;}

.hover-xx:hover {
	//background:rgba(255, 255 ,255 , 0.7); 
	color: rgb(25, 76, 102);
	
	-webkit-transition: linear 0.05s;
	-moz-transition:   linear 0.05s;
	-ms-transition:  linear 0.05s;
	-o-transition:   linear 0.05s;
	transition: linear 0.05s;
}

/*End side-menu*/



/* Side menu - new */
.menux-container {
  display: block;
  position: relative;
  width: 240px;
  
   
  padding: 0;
}

.navx{
  background-color: #c70151; /*mai visiniu*/
   background-color: #D62C6C; /*mai roz*/
  background: #efefef url(/assets/bg/bg_header_2.png) repeat center top;
  height:40px;
  border-radius:5px 5px 0 0;
  border-bottom:3px solid #D62C6C;
}

.settings {
  height:20px;
  float:right;
  //background-image:url(http://i.imgur.com/CLs7u.png);
  width:20px;
  margin:10px;
}

.menux ul {
  background-color: #fefefe;
  list-style:none;
  margin:0;
  border-bottom:1px solid #dbdbdb;


}

.menux-container ul li {
	border-left:1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding:11px 10px;
  box-shadow:inset 0 1px 1px #fff;
  text-indent:10px;
 }

.menux ul li a {
  font-size:14px;
  color:#a4a3a3;
  //font-family: 'Strait', sans-serif;
  font-size:14px;
  text-decoration:none;
  text-shadow: 1px 1px 1px #fff;
}

.menux ul li img {
  float:left;
  margin:-2px 0 0 0;
}
.menux ul li p {margin:0;}

.menux ul li:hover {
  //border-left:3px solid #c70151;
  border-left:3px solid #D62C6C;
  background-color:rgba(0,0,0,0.02);
}
/*Side menu - new end*/


/* Tags */

a.tag {
  float:left;
  background:#efefef;
  color:#EA4C89;
  padding: 0px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right:5px;
  margin-top:4px;
  font-size:12px;

}

.tag.bordered {  border:1px solid #ddd;}

a.tag:hover {
  background:#888;
  color:white;
}
a.tag.bordered:hover {
  background:#888;
  border-color:#888;

}

/* TAGS END */

.green li:after {
  background: #65bb34;
  -webkit-box-shadow: inset 1px 0 #3a6b1e;
  box-shadow: inset 1px 0 #3a6b1e;
}

.green span {
  background: #65bb34;
  border-color: #549b2b #4f9329 #4b8b27;
  background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
}

.blue li:after {
  background: #56a3d5;
  -webkit-box-shadow: inset 1px 0 #276f9e;
  box-shadow: inset 1px 0 #276f9e;
}

.blue span {
  background: #56a3d5;
  border-color: #3591cd #318cc7 #2f86be;
  background-image: -webkit-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -moz-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -o-linear-gradient(top, #6aaeda, #4298d0);
  background-image: linear-gradient(to bottom, #6aaeda, #4298d0);
}
/* Tags end */

/* Button btnx */
.btnx {	
  cursor: hand;
  cursor:pointer;
  position: relative;
  display: block;
  padding: 9px 14px;
  max-width: 20em;
  color: #fff;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.btnx-green {
 background-color: #58a300;
}

.btnx-green:hover {
	color:white;
	background-color: #5ead00;
}

.btnx-blue {
  background-color:#4380c9;
}

.btnx-blue:hover {
  color:white;
  background-color:#588cc7
}

.btnx-blue-x {

  background-color: #2da3ee;

  background-image: -moz-linear-gradient(top, #5fc1ff, #0088de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5fc1ff), to(#0088de));
  background-image: -o-linear-gradient(top, #5fc1ff, #0088de);
  background-image: linear-gradient(to bottom, #5fc1ff, #0088de);

  border: 1px solid #0769a7;
}
.btnx-large {
	padding:22px 15px;
}

  .btnx-blue-x:before {
    height: 1px;
    background: rgba(white, 0.4);
  }
  .btnx-blue-x:after {
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(black, 0.3);
  }
  .btnx-blue-x:hover, .btnx-blue-x:focus {
    text-decoration: none;
	color:#fff;


  background-image: -moz-linear-gradient(top, #5fc1ff, #007fd0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5fc1ff), to(#007fd0));
  background-image: -o-linear-gradient(top, #5fc1ff, #007fd0);
  background-image: linear-gradient(to bottom, #5fc1ff, #007fd0);
  }
  .btnx-blue-x:focus {
    outline: none;
    border: 1px solid darken(#0769a7, 25%);

    background-image: -moz-linear-gradient(top, #5fc1ff, #0078c5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5fc1ff), to(#0078c5));
    background-image: -o-linear-gradient(top, #5fc1ff, #0078c5);
    background-image: linear-gradient(to bottom, #5fc1ff, #0078c5);
  }
  .btnx-blue-x:active {
    top: 1px;
}
/*Button btnx - End*/

