.circle-wrapper {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 

    border: 1px solid #ddd;
    border-bottom:0px;

    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

    background:#fdfdfd;
    width:360px;
    padding:20px; 
    margin:0 auto;
    margin-top:40px;
    position:relative;
}


.circles-tabs {

	border-bottom:white;
	margin-bottom:0;
	margin-top:30px;	
}

.circles-tabs li a {
	font-size:15px;
}
.circles-tabs li:hover a {
	background:#fff;
}

.circles-tabs li.active a {
	border:1px solid #fff;
	font-weight: bold;
}

.circles-tabs li.active a:hover {
border:1px solid #fff;
}

.city-search {
	margin-right:10px;
	float:left;
	width:300px;
	margin-bottom:0px;
}

/* JOIN BUTTON */

.joined-circle:hover{
	background-color: #DA5C45;
}
.joined-circle span.leave, .join-circle span.leave{ display:none;}
.joined-circle:hover span.leave {
	display: block;
}
.join-circle:hover,.joined-circle {background-color: #84C449;}

.joined-circle:hover span.joined {
	display: none;
}
/* JOIN BUTTON EN*/

@media (max-width: 979px){
		.city-search {
		margin-right:8px;
		width:auto;
	}
}

/* People-in-a-circle List */
ul.ppl-in-circle { margin:0;list-style:none}
ul.ppl-in-circle li { border-bottom:1px solid #dbdbdb;padding:10px 0 }
ul.ppl-in-circle li span {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 15px 0 0;
	background: url(/assets/male-avatar.png) no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}


.triangl-gossips {position:absolute;bottom:-19px; left:20px; width:20px;height:20px;background: url(/assets/triangle.png) no-repeat;}
.triangl-ppl {position:absolute;bottom:-19px; left:130px; width:20px;height:20px;background: url(/assets/triangle.png) no-repeat;}
/* People-in-a-circle List END */
