// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
	margin:0;
	padding:0;
	background:none;
	margin-top:40px;
}

/* GOSSIP DESIGN */
.gossip-post {
	margin-top:20px;
	margin:0 0 20px 0;
	position:relative;
	display:inline-block;
	//width:580px; - nu cred ca mai trebuie
}

.gossip-post .gossip {
	float:left;
	width:526px;
	margin:0 0 0 0; 
}

.gossip-post .gossip abbr {
	float:right;
	color:#757575;
	margin-top:-5px;
	margin-bottom:0;
	font-size: 13px;
	cursor:auto;
	border-bottom:none;
}

.gossip-post .text {
	width:500px;
	padding:12px;
	padding-bottom:0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 

	border: 1px solid #ddd;
	border-bottom:0px;

	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background:white;
}

.gossip-post .gossip-content {
	font-family: "Museo-300", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:1.18em;
  line-height: 1.22em;

	display:inline-block;
	text-indent:15px;
	margin: 5px 20px 0px 15px;
	min-width:465px;

}

.gossip-post .text:hover .xxx {
	border:1px solid #d3d3d3;
	background:#fafafa;
	  background-image: -moz-linear-gradient(top, #fcfcfc, #f8f8f8);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f8f8f8));
	  background-image: -o-linear-gradient(top, #fcfcfc, #f8f8f8);
	  background-image: linear-gradient(to bottom, #fcfcfc, #f8f8f8);
}

.gossip-post .comments {
	list-style: none;
	margin-top:1px;
	margin-right:8px;
	margin-bottom:0;
}

.gossip-post .comment {
	background: #fff;
	padding:7px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px dashed #ddd;
	width:440px;
	float:right;

}

.gossip-post .your-comment {
	width:440px;
	float:right;
	background: #eee;
	padding:7px;
	margin-right:8px;
	border:1px solid #ddd;
}

.gossip-post .comment:hover {
	background: #fafafa;
}

 li.comment:last-child {
	border-bottom:none;
}

 .gossip-post .meta { 
 	margin-top:22px;
 	border-top:1px dotted #dadada;
 	padding:5px 0;
 }
 
 .gossip-post .meta .xxx {
	border:1px solid transparent;
	padding:3px 5px;
	cursor: hand;
	cursor:pointer;
 }
  .gossip-post .meta .xxx:hover { 
 	background:#f1f1f1;
 	border-color:#c6c6c6;
 	  background-image: -moz-linear-gradient(top, #f8f8f8, #eee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eee));
  background-image: -o-linear-gradient(top, #f8f8f8, #eee);
  background-image: linear-gradient(to bottom, #f8f8f8, #eee);
 }

  .gossip-post .meta a {
  	float:left;
  }

.gossip-post .meta a.like-it {
	color:#EA4C89;
	padding:3px 10px;
}
 .gossip-post .meta span.hearty  {
 	display:block;
	color: #EA4C89;
	margin:7px 0 0 10px;
 	background: url("/assets/social/hearty.png") no-repeat;
 	padding-left:14px;
 	float:left;
}
 .gossip-post .meta p.value {
 	float:left;
 	margin-bottom:0;
 	margin-top:2px;
 	font-size:13px;
 	color:#666;
 }

.gossip-post .meta p.likes { color:#EA4C89; }

 .gossip-post .meta a.true  {
 	display:block;
	color: #666;
 	background: url("/assets/social/true.png") no-repeat;
 	margin-top:1px;
 	padding-left:20px;
 	margin-right:10px;
}

.gossip-post .meta a.fake {
 	display:block;
 	background: url("/assets/social/fake.png") no-repeat 0px 4px;
 	padding-left:20px;
}

.gossip-vote-btn.enabled[data-value="true"] a{
	color:#009700;
	background: url("/assets/social/true-active.png") no-repeat;
}

.gossip-vote-btn.enabled[data-value="false"] a{
	color:#5ead00;
	background: url("/assets/social/fake-hover.png") no-repeat 0px 4px;
}


.gossip-post .avatar {
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	border:4px solid #fff;
	width: 50px;
	height: 50px;
	margin: 0 15px 0 0;
	padding: 0 0 0 0;
	background: url(/assets/male-avatar.png) no-repeat 100%;
	overflow:hidden;

	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
}

.avatar-mini {
	float:left;
	height:32px;
	width:32px;
	margin-right:10px;
	background: url(/assets/male-avatar-mini.png) no-repeat 100%;
	overflow:hidden;
}

.avatar img {
	min-width:62px;
	min-height:62px;
}

.your-comment .public, .your-comment .private {
	border:1px solid transparent;
	padding:4px;
	float:right;
	margin-right:12px;
	height:22px;
	width:22px;
	cursor:hand;
	cursor:pointer;
	
}
.your-comment .public:hover, .your-comment .private:hover {border:1px solid #cdcdcd;}
.your-comment .public { background: url(/assets/unlocked.png) no-repeat 6px 4px; }
.your-comment .private { background: url(/assets/locked.png) no-repeat 7px 4px; }

/* GOSSIP DESIGN END */
