// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
	margin:0;
	padding:0;
	background:none;
}

.gossip-post {
	margin-top:20px;
	margin:0 0 20px 0;
	position:relative;
	display:inline-block;
	width:750px;
}

.gossip-post .gossip {

	float:left;
	width:530px;
	margin:0 20px 0 0; 
}

.gossip-post .text {
	width:510px;
	padding:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 

	border: 1px solid #ddd;
	border-bottom:0px;

	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background:white;
}

.gossip-post .comments {
	list-style: none;
	margin-top:1px;
	margin-right:8px;
}

.gossip-post .comment {
	background: #fff;
	padding:7px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px dashed #ddd;
	width:440px;
	float:right;

}



.gossip-post .your-comment {
	width:440px;
	float:right;
	background: #eee;
	padding:7px;
	margin-right:8px;
	border:1px solid #ddd;
}

.gossip-post .comment:hover {
	background: #fafafa;
}

 li.comment:last-child {
	border-bottom:none;
}



 .gossip-post .side { 
 	margin-top:10px;
 	float:right;
 	width:85px;
 }

 .gossip-post .side a.like  {
 	display:block;
	color: #EA4C89;
 	background: url("/assets/social/hearty.png") no-repeat;
 	padding-left:20px;
}

 .gossip-post .side a.true  {
 	display:block;
	color: #3d3d30;
 	background: url("/assets/social/true.png") no-repeat;
 	padding-left:20px;
}

.gossip-post .side a.fake {
 	display:block;
	color: #2d2d30;
 	background: url("/assets/social/fake.png") no-repeat 0px 4px;
 	padding-left:20px;
}


.gossip-post .avatar {
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	border:4px solid #fff;
	width: 62px;
	height: 62px;
	margin: 0 30px 0 0;
	padding: 0 0 0 0;
	background: url(/assets/male-avatar.jpg) no-repeat 100%;
	overflow:hidden;

	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
}

.avatar-mini {
	float:left;
	height:32px;
	width:32px;
	margin-right:10px;
	background: url(/assets/male-avatar-mini.png) no-repeat 100%;
	overflow:hidden;
}

.avatar img {
	min-width:62px;
	min-height:62px;
}
