<li class="comment clearfix"
	<% if defined? hidden %> 
		style="display:none"
	<% end %>
>
	<span class="avatar-mini"> 
	<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/260896_708576256_1093295786_t.jpg"/> 
	</span>
		 <strong><%= comment.private? ? comment.user.nickname : link_to(comment.user.name, "/users/index")  %></strong>
		  <p class="pull-right" style="color:#777;margin-bottom:0;font-size:12px"><%= timeago comment.created_at  %></p> 
		  <p style="font-size:14px;line-height:1.3;margin-left:42px"><%= comment.content %></p>
		  
</li>