<!-- no longer used -->

<!-- <div style="margin:0 auto; position:relative;">
  <div id="side-menu" style="color:white">
       <a href="#" class="closed" style="height: 100%; color: rgb(255, 255, 255);">
        <span style="-webkit-transform: rotate(0deg);">+</span>
      </a>


      <a href="#" style="color:#333;float:left;background:#eee;height:20px;width:75px;padding:15px;border-bottom:3px solid #00a0c6;">
       <center><p style="font-size:15px;"> Hot Circles </p></center>
      </a>

      <a href="#" style="float:left;background:#00a0c6;height:20px;width:75px;padding:15px;border-bottom:3px solid #00a0c6;">
       <center><p style="font-size:15px;color:white"> Cities </p></center>
      </a>

      <a href="#" onclick="toggleMenu()" class="x-hover" style="float:left;background:#27313f;height:20px;width:20px;padding:15px 5px 15px 5px;border-bottom:3px solid #00a0c6;">
          <p style="paddinh:0;margin:0;font-size:26px;font-weight:bold;-webkit-transform: rotate(135deg);"> + </p>
    
      </a>


      <div class="hover-xx" style="padding:10px 30px 0 15px;float:left">
        <div style="width:195px; border-bottom:1px dashed #66c6dd ;">
          <p style="font-size:14px;margin-bottom:5px">Colegiul National Goojdu Oradea</p>
          <p style="font-size:12px;float:right"> 245 <i class="icon-user icon-white"></i></p>
          <p style="font-size:12px;"><i class="icon-map-marker"> </i> Bucuresti</p>
        </div> 
      </div>

      <div class="hover-xx" style="padding:10px 30px 0 15px;float:left">
        <div style="width:195px; border-bottom:1px dashed #66c6dd ;">
          <p style="font-size:14px;margin-bottom:5px">Colegiul National Goojdu Oradea</p>
          <p style="font-size:12px;float:right"> 24002 <i class="icon-user icon-white"></i></p>
          <p style="font-size:12px;"><i class="icon-map-marker"> </i> Timisoara</p>
        </div> 
      </div>

      <div class="hover-xx" style="padding:10px 30px 0 15px;float:left">
        <div style="width:195px; border-bottom:1px dashed #66c6dd ;">
          <p style="font-size:14px;margin-bottom:5px">Colegiul National Goojdu Oradea</p>
          <p style="font-size:12px;float:right"> 2115 <i class="icon-user icon-white"></i></p>
          <p style="font-size:12px;"><i class="icon-map-marker"> </i> Cluj-Napoca</p>
        </div> 
      </div>
</div>
 -->