
<div class="clearfix" style="border-radius:5px;margin-top:30px;margin-bottom:20px;padding:10px;background:white;border:1px solid #dbdbdb">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
        <h3 style="margin:0">Listing circles</h3>
</div>



<% @circles.each do |circle| %>
    <%= render partial: "circle_header", locals: { circle: circle }, formats: [:html] %>
<% end %>




