<div class="row">
	<div class="span4 offset2 top-bar" style="margin-top:50px">
		<center><h3 style="margin-bottom:40px;padding-bottom:7px;border-bottom: 3px double rgba(34,25,25,0.1);">Create a new Circle</h3></center>
		<%= render 'form' %>
	<br /><br />
	</div>
</div>